<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8" />
<title>MTGカード名to詳細</title>
<link rel="Stylesheet" href="./lib/main.css" type="text/css">
<script src="./lib/vue.min.js"></script>
</head>
<body>

<div id="vue_app">

<h1>MTGカード名to詳細</h1>

<div style="display:flex">
  <div id="input_area">
    
    <h2>追加カード入力</h2>
    <textarea style="width:30em; height:5em;" v-model="searchTarget"></textarea><br>
    <button id="btnAdd" @click="search()" :disabled="progress">{{ progress ?? "検索" }}</button>　
    <input type="checkbox" v-model="standardOnly">Standard Only
    
    <div v-if="kouhoGrpList.length > 0">
      <h2>候補表示エリア</h2>
      <div v-for="kouhoGrp in kouhoGrpList">
        <h3 @click="delKouhoGrp(kouhoGrp)">{{ kouhoGrp.base }}</h3>
        <ul>
          <li v-for="kouho in kouhoGrp.list" @click="selKouho(kouhoGrp, kouho)" @mouseover="cardInfoHtml = kouho.html;">{{ kouho.name }}</li>
        </ul>
      </div>
    </div>
    
    <h2>一覧</h2>
    <save-slot v-model="deck" :clear-value="[]"></save-slot>
    <div style="margin:3px 0">
      合計: {{ Object.entries(rarityNum).reduce((sum, [key, value]) => sum + value, 0) }} 枚
      &nbsp;&nbsp;
      <button @click="isShowDialog=true">Export</button><br>
      <span v-for="(value, key) in rarityNum">{{ key }}: {{ value }} 枚　</span><br>
      <span v-for="(value, key) in setNum">{{ key }}: {{ value }} 枚　</span>
    </div>
    <table border=1>
      <tr>
        <th class="dc">&nbsp;<!-- DEL Button --></th>
        <th class="dc">枚数</th>
        <th class="dc" v-for="col in cols" @click="sort(col.sortKey)">{{ col.disp }}</th>
      </tr>
      <tr v-for="card in dispDeck">
        <td class="lc"><button @click="delCard(card.baseData)" class="row-button">DEL</button></td>
        <td class="lc"><input type="text" style="width:2em;text-align:right;" v-model.number="card.baseData.num"></td>
        <td class="lc" v-for="col in cols" @click="cardInfoHtml = card.html;" v-html="card[col.name]"></td>
      </tr>
    </table>
    
  </div>
  <div id="card_info_area" style="margin-left:30px">
  
    <h2>カード情報</h3>
    <div v-html="cardInfoHtml"></div>
  
  </div>
</div>

<div id='listDialog' v-if="isShowDialog"
    style='
    display: flex;
    flex-flow: column;
    position: fixed;
    height: 80%;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center;
    background-color:gray;'>

  <div style="flex:1;"><textarea v-model="exportText" style="margin:10px; width:calc(100% - 23px); height:calc(100% - 10px);"></textarea></div>
  <div style="flex:0;"><button @click="isShowDialog=false" style="margin:20px;">Close</button></div>
  
</div>

</div>

<script>
Vue.component('save-slot', {
  data     : function() { return {
    SAVE_KEY: "save",
    saveTitle: "",
    selectedSave: null,
    saveList: [], // { title, data }
  }; },
  props: ["value", "clearValue"],
  template : `
    <div>
      <input type="text" v-model="saveTitle">
      <button @click="save()">Save</button>
      <select v-model="selectedSave">
        <option disabled :value="null">select one</option>
        <option v-for="save in saveList" :value="save">{{ save.title }}</option>
      </select>
      <button @click="load()">Load</button>
      <button @click="del()">Delete</button>
      <button @click="clear()" style="margin-left:1em;">Clear</button>
    </div>
  `,
  methods: {
    save() {
      if (this.saveTitle == "") { return; }
      
      var save;
      if (this.saveList.filter(i => i.title == this.saveTitle).length == 0) {
        save = {};
        this.saveList.push(save);
      } else {
        save = this.saveList.filter(i => i.title == this.saveTitle)[0];
      }
      save.title = this.saveTitle;
      save.data = JSON.stringify(this.value);
      localStorage.setItem(this.SAVE_KEY, JSON.stringify(this.saveList) );
      
      this.selectedSave = save;
    },
    load() {
      if (this.selectedSave == null) { return; }
      this.saveTitle = this.selectedSave.title;
      this.$emit('input', JSON.parse(this.selectedSave.data));
    },
    del() {
      if (this.selectedSave == null) { return; }
      this.saveList = this.saveList.filter(i => i !== this.selectedSave);
      localStorage.setItem(this.SAVE_KEY, JSON.stringify(this.saveList) );
      this.selectedSave = null;
    },
    clear() {
      this.selectedSave = null;
      this.saveTitle = "";
      this.$emit('input', this.clearValue);
    },
  },
  mounted() {
    this.saveList = JSON.parse(localStorage.getItem(this.SAVE_KEY)) ?? [];
  },
});

var vue_app = new Vue({
  el: '#vue_app',
  data() { return {
    searchTarget: "",
    standardOnly: true,
    progress: null,
    kouhoGrpList: [], // {num, base, list:[kouhoObj, kouhoObj]}
    cols: [
      {name:"dispName", disp:"カード名"  , sortKey:"name"  },
      {name:"dispCost", disp:"コスト"    , sortKey:"cost"  },
      {name:"rarity"  , disp:"レアリティ", sortKey:"rarity"},
      {name:"set"     , disp:"セット"    , sortKey:"set"   },
    ],
    currSort: {col:"", asc:true},
    deck: [], // { num, name, cost, rarity, set }
    cardInfoHtml: "",
    isShowDialog: false,
  }; },
  computed: {
    rarityNum() {
      var result = {};
      for (var card of [...this.deck].sort((c1,c2)=>c1.rarity > c2.rarity)) { // deck.sort()はdeck自身を変更するのでシャローコピーを作ってやらないと無限にこの処理が呼ばれる
        if (result[card.rarity] == undefined) { result[card.rarity] = 0; }
        result[card.rarity] += card.num;
      }
      return result;
    },
    setNum() {
      var result = {};
      for (var card of [...this.deck].sort((c1,c2)=>c1.set > c2.set)) {
        if (result[card.set] == undefined) { result[card.set] = 0; }
        result[card.set] += card.num;
      }
      return result;
    },
    dispDeck() {
      return this.deck.map(i => ({
        dispName:i.name.replace(" // ", " // <br>"),
        dispCost:i.cost.replace(" // ", " // <br>"),
        baseData: i,
        ...i
      }));
    },
    exportText() {
      var result = "";
      for(var card of this.deck) {
        result += card.num + " ";
        result += card.name.replace(/\/.*/, "");
        result += "\n";
      }
      return result;
    },
  },
  methods: {
    parseSearchTarget(text) {
      return text.split("\n")
        .map(line => line
          .replace(/^(Deck|デッキ)$/, "")
          .replace(/ \([A-Z0-9]{3}\) [0-9]+$/, ""))
        .filter(line => line.trim() != "")
        .map(line => {
          var matches = line.match(/([0-9]+) +(.*)/);
          return {
            num: matches ? Number(matches[1]) : 0,
            name: matches ? matches[2] : line,
          };
        });
    },
    async search() {
      var searchList = this.parseSearchTarget(this.searchTarget);
      var sleep = (w) => new Promise(resolve => setTimeout(resolve, w));
      
      var firstLoop = true;
      var progressCnt = 0;
      for (var searchItem of searchList) {
        if (!firstLoop) { await sleep(500); }
        firstLoop = false;
        
        var result = await this.getCard(searchItem.name);
        if (result.type == "detail") {
          // デッキ追加
          this.deck.push({num:searchItem.num, ...result.detail});
        } else {
          // 候補追加
          var kouhoGrp = {num:searchItem.num, base:searchItem.name, list:result.cards};
          this.kouhoGrpList.push(kouhoGrp);
        }
        this.progress = `${++progressCnt} / ${searchList.length}`
      }
      this.progress = null;
    },
    async getCard(name) {
      var url = "/get_card?q=" + encodeURIComponent(name) + (this.standardOnly ? "&format=standard" : "");
      var response = await fetch(url);
      return await response.json();
    },
    delKouhoGrp(kouhoGrp) {
      this.kouhoGrpList = this.kouhoGrpList.filter(i => i !== kouhoGrp);
    },
    async selKouho(kouhoGrp, kouho) {
      this.delKouhoGrp(kouhoGrp);
      var result = await this.getCard( kouho.url );
      if (result.type != "detail") {
        alert("err"); console.log(result);
        return;
      }
      this.deck.push({num:kouhoGrp.num, ...result.detail});
    },
    delCard(card) {
      this.deck = this.deck.filter(i => i !== card);
    },
    sort(col) {
      if (col != this.currSort.col) {
        this.currSort = {col, asc:true};
      } else {
        this.currSort.asc = !this.currSort.asc;
      }
      this.deck = this.deck.sort((i1, i2) => this.currSort.asc ? i1[col] > i2[col] : i1[col] < i2[col]);
    },
  },
})
</script>

</body>
</html>
